@import url("fonts.css");
@import url('universal.css');
@import url('header.css');

.container{
    position: relative;
    bottom: -100px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorColor{
    width: 280px;
    height: 400px;
    border-radius: 30px;
   /*  background: #1992d8; */
   background: #1566a8;
    display: inline-block;
    margin: 0 20px 20px 20px;
}

.contenedorColor .blanco img{
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 80px;
}

.contenedorColor .blanco{
    position: relative;
    bottom: -100px;
    width: 280px;
    height: 300px;
    border-radius: 0 0 30px 30px;
    background: #fff;
    display: inline-block;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
    text-align: center; 
}

.contenedorColor .blanco h2,
.contenedorColor .blanco h3{
    position: relative;
    bottom: 70px;
    font-family: "Roboto-Regular";
    padding: 10px;
}


footer {
    width: 100%;
    height: 50px;
    background: #0B3253;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -85px;
    z-index: 20;
}


footer .derechos{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}


@media screen and (max-width:1180px){
    header .contenedor .logo .texto{
        transform: scale(0.7);
    }
}

@media screen and (max-width:990px){
    header .contenedor .bar{
        display: block;

    }
    header .contenedor .menu {  
        display: none;  
        position: fixed;
        width: 100%;
        background: #fff;
        top: 80px;
        left: 0;
        text-align: center;
        z-index: 12;
        border-radius: 0 0 15px 15px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
    }

    header .contenedor .menu a{
        display: block;
        width: 70%;
        margin: 10px auto;
    }

    header .contenedor .show{
        display: block;
    }
    
}

@media screen and (max-width:675px){

    header .contenedor .menu{
        margin: 10 auto;
        
    }

    header .contenedor .menu a{
        font-size: 1em;
    }
}


@media screen and (max-width:370px){
    .contenedor .logo .texto .derecha{
        transform: translate(45px,0);
        transition-duration: 1s;
    }
    
    .contenedor .logo .texto .abajo{
        transform: translate(30px,0);
        transition-duration: 2s;
    }
}