@import url("fonts.css");
@import url('universal.css');
@import url('header.css');
@import url('footer.css');

@media screen and (max-width:1180px){
    header .contenedor .logo .texto{
        transform: scale(0.7);
    }
}



@media screen and (max-width:990px){
    header .contenedor .bar{
        display: block;

    }
    header .contenedor .menu {  
        display: none;  
        position: fixed;
        width: 100%;
        background: #fff;
        top: 80px;
        left: 0;
        text-align: center;
        z-index: 12;
        border-radius: 0 0 15px 15px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
    }

    header .contenedor .menu a{
        display: block;
        width: 70%;
        margin: 10px auto;
    }

    header .contenedor .show{
        display: block;
    }
    
}

@media screen and (max-width:675px){

    header .contenedor .menu{
        margin: 10 auto;
        
    }

    header .contenedor .menu a{
        font-size: 1em;
    }
}


@media screen and (max-width:370px){
    .contenedor .logo .texto .derecha{
        transform: translate(45px,0);
        transition-duration: 1s;
    }
    
    .contenedor .logo .texto .abajo{
        transform: translate(30px,0);
        transition-duration: 2s;
    }
}