@import url("fonts.css");
@import url('universal.css');
@import url('header.css');

@media screen and (max-width:1180px){
    header .contenedor .logo .texto{
        transform: scale(0.7);
    }
}

@media screen and (max-width:990px){
    header .contenedor .bar{
        display: block;

    }
    header .contenedor .menu {  
        display: none;  
        position: fixed;
        width: 100%;
        background: #fff;
        top: 80px;
        left: 0;
        text-align: center;
        z-index: 12;
        border-radius: 0 0 15px 15px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
    }

    header .contenedor .menu a{
        display: block;
        width: 70%;
        margin: 10px auto;
    }

    header .contenedor .show{
        display: block;
    }

    .minimo{
        border-radius: 15px 15px 0 0;
        background:#fff;
    }
    
}

@media screen and (max-width:675px){

    header .contenedor .menu{
        margin: 10 auto;
        
    }

    header .contenedor .menu a{
        font-size: 1em;
    }
}


@media screen and (max-width:370px){
    .contenedor .logo .texto .derecha{
        transform: translate(45px,0);
        transition-duration: 1s;
    }
    
    .contenedor .logo .texto .abajo{
        transform: translate(30px,0);
        transition-duration: 2s;
    }
} 

section .encabezado{
    background: #0B3253;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 150px;
    position: relative;
    bottom: -85px;
}

section .encabezado .cart{
    font-size: 200px;
    color: #fff;
    
}

section .encabezado .text{
    font-size: 35px;
    font-family: "Roboto-Regular";
    color: #fff;
    padding: 0 50px;
    
}

section .principal{
    background: #fff;
    width: 100%;
    position: relative;
    bottom: -85px;  
}

section .principal .contenedor{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}

section .principal .contenedor .contenido1,
section .principal .contenedor .contenido2{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .principal .contenedor .contenido1 .image,
section .principal .contenedor .contenido2 .image{
    width: 300px;
    border-radius: 5px;
}

section .principal .contenedor .contenido1 .text p,
section .principal .contenedor .contenido2 .text p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 20px;
    text-align: justify;
}

section .principal .contenedor .contenido1 h2,
section .principal .contenedor .contenido2 h2{
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px 20px;
}

footer {
    width: 100%;
    height: 50px;
    background: #0B3253;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -85px;
}

footer .derechos{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}