@import url("fonts.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */

/* body{
    background: #000;
} */

header{
	width: 100%;
    background:#fff;
    position: fixed;
    transform: scale(1,1);
    transition-duration: .7s; 
    z-index: 10;
}

.minimo{
    transform: scale(.9,.9);
    border-radius: 15px;
    transition-duration: .7s; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}

.contenedor{
	width: 97%;
    margin: 0px auto; 
	display: flex;
	flex-direction:row;
	justify-content:space-between; 
	align-items: center;
}

.contenedor .logo{
    display: flex;
	align-items: center;
}
    
.contenedor .logo img{
    width: 20%;
    margin-right: 10px; 
    transform: scale(1,1);
    transition-duration: .7s;
}

.contenedor .logo .pequeno{
    transform: scale(.8,.8);
    transition-duration: .7s;
    margin-right: 10px; 
}

.contenedor .logo .texto{
    font-family: 'Roboto-Bold', sans-serif;
}

.contenedor .logo .texto h1{font-size: 40px;}
.contenedor .logo .texto h2{font-size: 30px;}

.contenedor .logo .texto .derecha{
    transform: translate(170px,-23px);
    transition-duration: 1s;
}


.contenedor .logo .texto .abajo{
    transform: translate(0,20px);
    transition-duration: 2s;
}

.contenedor .logo .texto .regreso{
    transform: translate(0,0px);
    transition-duration: 1s;
}

.contenedor .logo .texto .back{
    transform: translate(0,0px);
    transition-duration: 2s;
}

.contenedor .menu a{
    padding: 5px 7px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: black;
}

.contenedor .menu a:hover{
    border-bottom: 5px solid rgb(12, 106, 230);
}

/* ---------------MAIN------------ */

.main .mercadoPortada{
    background: url('../img/img1.jpg');
    background-color: rgba(0, 0, 0, 0.384);
    background-blend-mode: soft-light;
    background-attachment:fixed; 
    height: 500px; 

    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

 .main .mercadoPortada .descrip {
    color: #fff; 
    width: 50%;
    margin-right: 40px;
    text-align: justify;
    font-size: 1.5em; 
    font-family:'Roboto-Bold';
    text-shadow:10px 10px 10px rgb(0 0 0);
}

.otromas {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    /* bottom: 200px; */
    top: 400px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid rgb(255, 255, 255);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }

/* .main .mercadoPortada .descrip .titulo{
    font-size: 50px;
    font-family:'Roboto-Bold';
}

.main .mercadoPortada .descrip .resumen{
    font-size: 20px;
    font-family:'Roboto-Bold';
} */

.main .blanco{
    position: absolute;
    top: 375px;
    z-index: 9;
    width: 100%;
}
 
