@import url("fonts.css");
@import url('universal.css');
@import url('header.css');
@import url('footer.css');
@import url('responsive.css');

@keyframes scroll-down {
    0% {opacity: 0;}
    30% {opacity: 1;}
    60% {opacity: 1;}
    100% {
        top: 90%;
        opacity: 0;
    }
}

/* ---------------MAIN------------ */

.main .mercadoPortada{
    background: url('../img/img1.jpg');
    background-color: rgba(0, 0, 0, 0.384);
    background-blend-mode: soft-light;
    background-attachment:fixed; 
    height: 500px; 

    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main .mercadoPortada .descrip {
    color: #fff; 
    width: 50%;
    margin-right: 40px;
    text-align: justify;
    font-size: 1.7em; 
    font-family:'Roboto-Bold';
    text-shadow:10px 10px 10px rgb(0 0 0);
}

.main .logoGrande{
    width: 15%;
}
/* Main - estilos del scrolldown */
.main .mercadoPortada a .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 400px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid rgb(255, 255, 255);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
}

/* linea curveada blanca */
.main .blanco{
    position: absolute;
    top: 375px;
    z-index: 9;
    width: 100%;
}
 
/* estilos de la segunda seccion */

.segundaSeccion {
    height: 400px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px auto;
}

.segundaSeccion  img{
    width: 35%;
    border-radius: 13px;
}

.segundaSeccion .contenedorInfo{
    margin-left: 2%;
    width: 65%;
    padding: 10px;
}

.segundaSeccion .contenedorInfo .titulo1{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.segundaSeccion .contenedorInfo .descripcionTitulo{
    font-size: 25px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.main .terceraSeccion{
    background: url('../img/secciontres-BG.png');
    height: 635px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 9;
}

.main .ultimaSeccion{
    background:rgb(255, 255, 255);
    height: 400px;
    z-index: 7;
}



/* Responsive (FALTA MUCHOOOOO!!!!!) */



